/* Generales */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 6, 49);
  margin: 0px;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(31, 9, 95);
  margin: 0px;
}

header i {
  color: azure;
}

.icon-1 {
  font-size: 45px;
  margin-right: 20px;
}

.icon-2 {
  font-size: 45px;
  margin-left: 20px;
  rotate: 180deg;
}

.titulo {
  font-family: "Nova Cut", cursive;
  font-size: 50px;
  color: azure;
}

/* Formulario de nueva tarea */
.label-1 {
  font-family: "Nova Cut", cursive;
  color: white;
  font-size: 38px;
}

.ingreso {
  width: 380px;
  margin: 0 20px;
  border: 1px solid rgb(230, 230, 165);
  border-radius: 10px;
}

.boton-enviar {
  width: 80px;
  height: 35px;
  border: transparent;
  border-radius: 15px;
  background-color: rgb(241, 201, 90);
  box-shadow: 3px 2px 2px rgb(122, 122, 4);
  font-size: 17px;
  font-weight: bold;
}

.boton-enviar:hover {
  background-color: rgb(233, 235, 131);
  transform: scale(1.1);
}

.contenedor-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

@media (max-width: 790px) {
  .contenedor-form {
    display: grid;
  }
  .ingreso {
    margin: 10px 0;
  }
  .boton-enviar {
    margin: 0 auto;
  }
}

/* targetas de tareas */
.container-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;
}

.targeta-item {
  font-family: "Comfortaa", cursive;
  display: grid;
  text-align: center;
  align-items: center;
  width: auto;
  height: 300px;
  background-color: rgb(42, 4, 85);
  color: white;
  border: 1px solid rgb(230, 230, 165);
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px white;
  margin: 25px;
  padding: 15px;
}

.item-completo,
.item-editar,
.item-eliminar {
  margin: 0 5px;
  border: 1px solid rgb(230, 230, 165);
  border-radius: 15px;
  width: 85px;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}

.item-completo:hover {
  background-color: rgb(17, 6, 49);
  border: white;
  color: azure;
  transform: scale(1.1);
}
.item-editar:hover {
  background-color: rgb(17, 6, 49);
  border: white;
  color: azure;
  transform: scale(1.1);
}
.item-eliminar:hover {
  background-color: rgb(17, 6, 49);
  border: white;
  color: azure;
  transform: scale(1.1);
}
.tarea-agregada {
  margin-top: 50px;
  color: white;
  font-size: 30px;
}

.sin-tareas {
  color: white;
}

.editar_tarea {
  display: grid;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(87, 3, 196);
  position: absolute;
  border: 5px solid white;
  border-radius: 30px;
}

.contenedoreditar-form {
  display: grid;
}

.title-editar {
  margin: 20px;
}

.editar {
  margin: 0 5px;
}
.editar-boton {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid rgb(230, 230, 165);
  border-radius: 15px;
  width: 90px;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}
